/**
 * modal-dialog.css
 * place in same directory as WebViewConfirm.java
 * ensure your build system copies the file to your build output directory
 */

/* Azul Marinho : #0017CB 
 * Cinza 		: #808080
 * Branco 		: #FFFFFF
 */	

.root {
  -fx-glass-color: rgba(95, 158, 160, 0.9);
}

.modal-dialog {
  -fx-padding: 20;
  -fx-spacing: 10;
  -fx-alignment: center;
  -fx-font-size: 20;
  -fx-background-color: #FFFFFF;
  -fx-opacity: 0.92;
  
  -fx-border-color: #808080;
  -fx-border-width: 3;
  -fx-border-radius: 10;
  -fx-background-radius: 10;
  
}

.label{
	-fx-font-family: "Segoe UI Light";
    -fx-font-size: 28px;
	-fx-alignment: center;
	-fx-text-alignment: center;
	-fx-text-fill: #808080; 
}

.modal-dialog:pressed {
  -fx-cursor: move;
}

.modal-dialog .button:pressed {
  -fx-cursor: default;
}
